doctype html
html(lang='ja')
  head
    meta(charset='UTF-8F')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    p.text Hello, World!
    style.
      .text{
      font-weight: 600;
      text-decoration: underline #FF0000 wavy;
      }
