doctype html
html(lang='ja')
  head
    meta(charset='UTF-8F')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    .box
    style.
      .box {
      background-color: #fce9ae;
      width: 150px;
      height: 150px;
      box-shadow: 2px 4px 6px #999999;
      }
