doctype html
html(lang='ja')
  head
  body
    .box 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
    style.
      .box {
      background-color: #FCE9AE;
      width: 150px;
      height: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
