doctype html
html(lang='ja')
  head
  body
    .wrapper
      .item One
      .item Two
      .item Three
      .item Four
      .item Five
    style.
      .wrapper {
      border: 2px solid #F76707;
      border-radius: 5px;
      background-color: #FFF4E6;
      display: flex;
      gap: 20px;
      }
      .item {
      border: 2px solid #FFA94D;
      border-radius: 5px;
      background-color: #FFD8A8;
      padding: 10px;
      color: #D9480F;
      }
