doctype html
html(lang='ja')
  head
    meta(charset='UTF-8F')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    button.detailBtn 詳しく見る
    style.
      .detailBtn{
      width: 200px;
      font-size: 20px;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #F8BBD0;
      }
