doctype html
html(lang='ja')
  head
    meta(charset='UTF-8F')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    span 好きな動物:
    select.selectBox(name='animal')
      option(value='dog') 犬
      option(value='cat') 猫
      option(value='hamster') ハムスター
      option(value='rabbit') うさぎ
    style.
      .selectBox{
      background-color: #FDC577;
      }
